*{
    margin: 0;
    padding: 0;
}

/* aqui personalizo la fuente de ña pagina y el color de fondo */
body{
font-family: Arial, Helvetica, sans-serif;
background-color: #ffffff;
}
/* AQUI PERSONALIZO LA CABECERA O EL MENU DE NAVEGACION */
header{
    background-color: #cbc408;
    color: white;
    text-align: center;
}
#menu{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 30px;
}
#menu a{
    text-decoration: none;
    color: white;
    background-color: #97a10b;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bolder;
    transition: all 0.3s ease;
}
#menu a:hover{
    background-color: #e37507;
}

/* Aqui voy a personalizar el cuerpo de mi pagina */
#contenedor{
    display: flex;
    min-height: 1000px;
}
#publicidad1{
    width: 20%;
    background-color: #9a8b3a;
}
#contenido{
    width: 60%;
    background-color: #ffffff;
    padding: 20px;
}
#publicidad2{
    width: 20%;
    background-color: #9a8b3a;
}
iframe{
    width: 100%;
    height: 100%;
    border: 2px solid #e37507;
    border-radius: 20px;
}
footer{
    background-color: #cbc408;

    color: #ffffff;
    text-align: center;
    padding: 80px;
}

/* AQUI PERSONALIZO PRODUCTOS */
#galeria_prod{
    display: grid;
grid-template-columns: repeat(3, auto);
justify-content: center;
gap: 20px;
}
.prod{
    background-color: #efc578;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
}
.prod img{
    width: 100%;
    border-radius: 20px;
}
.prod:hover{
    box-shadow: 0px 5px 10px #956e26;
    border: 1px solid yellow;
}
button{
    padding: 10px;
    background-color: #e37507;
    color: #ffffff;
    border: none;
    cursor: pointer;

}
button:hover{
    background-color: #97530f;

}
#publicidad1 img{
    width: 100%;
}
#publicidad2 img{
    width: 100%;
}
.portada img{
    width: 100%;
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
.mis_vis{
    border: 1px solid #956e26;
    width: 300px;
    border-radius: 30px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 5px 10px;
}
/* AQUI PERSONALIZO CONTACTO */
form{
    max-width: 400px;
    margin: auto;
    text-align: left;
}
.contacto{
    width: 100%;
    background-color: #dcd02f;
}
input, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 15px;
}
#hamburguesa{
    font-size: 30px;
    cursor: pointer;
    display: none;
}
#activador_menu{
    display: none;
}
/* AQUI PERSONALIZO MI PAGINA PARA QUE SE ADAPTE A OTROS DISPOSITIBOS */
@media (max-width: 750px){
    #menu{
        flex-direction: column;
        gap: 30px;
        padding: 0px;
        display: none;
    }
    #menu a{
        display: flex;
        justify-content: center;
    }
    #contenedor{
        flex-direction: column;
        text-align: center;
    }
    #publicidad1, #contenido, #publicidad2{
        width: 100%;
    }
    #publicidad1 img{
        width: 100px;
    }
    #publicidad2 img{
        width: 100px;
    }
    iframe{
        height: 600px;
    }
    #galeria_prod{
        grid-template-columns: repeat(1, auto);
    }
    #hamburguesa{
        display: block;
    }
    #activador_menu:checked + #hamburguesa + #menu{
        display: flex;
    }
}
